.top{
    margin-top: 2%;
}

.nopadding{
    padding: 0;
}

.back{
    background-color: gray;
}
.customFile{
	display: none;
}
.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #e33f3f;
	-webkit-box-shadow:inset 0px -3px 7px 0px #e33f3f;
	box-shadow:inset 0px -3px 7px 0px #e33f3f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e33f3f), color-stop(1, #e33f3f));
	background:-moz-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-webkit-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-o-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-ms-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:linear-gradient(to bottom, #e33f3f 5%, #e33f3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33f3f', endColorstr='#e33f3f',GradientType=0);
	background-color:#e33f3f;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #42473c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e33f3f;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e33f3f), color-stop(1, #e33f3f));
	background:-moz-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-webkit-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-o-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-ms-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:linear-gradient(to bottom, #e33f3f 5%, #e33f3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33f3f', endColorstr='#e33f3f',GradientType=0);
	background-color:#e33f3f;
}
.myButton:active {
	position:relative;
	top:1px;
}
.password-hide{
	margin-top:100px;
}
.custom-file-upload {
	-moz-box-shadow:inset 0px -3px 7px 0px #e33f3f;
	-webkit-box-shadow:inset 0px -3px 7px 0px #e33f3f;
	box-shadow:inset 0px -3px 7px 0px #e33f3f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e33f3f), color-stop(1, #e33f3f));
	background:-moz-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-webkit-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-o-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-ms-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:linear-gradient(to bottom, #e33f3f 5%, #e33f3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33f3f', endColorstr='#e33f3f',GradientType=0);
	background-color:#e33f3f;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #42473c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e33f3f;
}
.custom-file-upload:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e33f3f), color-stop(1, #e33f3f));
	background:-moz-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-webkit-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-o-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:-ms-linear-gradient(top, #e33f3f 5%, #e33f3f 100%);
	background:linear-gradient(to bottom, #e33f3f 5%, #e33f3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33f3f', endColorstr='#e33f3f',GradientType=0);
	background-color:#e33f3f;
}
.custom-file-upload:active {
	position:relative;
	top:1px;
}
