.nohover{
    border-bottom: 1px solid blue !important;
}
.hrborder{
    border: 1px solid black;
}
.list-v{
    padding-right: 4px;
    text-align: center;
}
.spanbold{
    font-weight: bold;
    
}
.shadow-box{
    border: 1px solid grey ;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 9px 8px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 8px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 8px 26px -6px rgba(0,0,0,0.75);
}
.center-text{
    margin-top: 3%;
    margin-left: 2%;
    
}
.center-button{
    margin-top: 3%;
    
}